BeautifulSoup==3.2.1
Django==1.11.28
IPy==0.81
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.3
PAM==0.4.2
Pillow==3.0.0
PyJWT==1.0.0
PyMySQL==0.6.2
PyPDF2==1.19
Pygments==2.0.1
South==1.0
Twisted-Core==15.2.1
Twisted-Web==15.2.1
adium-theme-ubuntu==0.3.4
amqp==1.4.7
anyjson==0.3.3
apt-xapian-index==0.46
argparse==1.2.1
autopep8==1.2.1
beautifulsoup4==4.3.2
billiard==2.7.3.34
blinker==1.3
celery==3.1.19
cffi==1.1.2
characteristic==14.3.0
chardet==2.3.0
colorama==0.3.3
coverage==3.5
cryptography==1.0.1
debtags==2.0
decorator==4.0.2
defer==1.0.6
dirspec==13.10
django-bitfield==1.6.4
django-celery==3.0.17
django-filter==0.9.1
django-http-proxy==0.4
django-kombu==0.9.4
django-mathfilters==0.3.0
djangorestframework==3.1.3
drf-extensions==0.2.7
duplicity==0.7.2
ecdsa==0.13
enum34==1.0.4
funcsigs==0.4
gevent==1.0.1
greenlet==0.4.3
gunicorn==0.14.6
html5lib==0.9999999
httplib2==0.9
idna==2.0
ipaddress==1.0.14
ipython==2.3.0
jsonfield==0.9.20
kombu==3.0.29
lockfile==0.10.2
lxml==2.3
matplotlib==1.4.2
mock==1.3.0
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
ndg-httpsclient==0.4.0
nose==1.3.1
numpy==1.8.2
oauthlib==1.0.0
oneconf==0.3.8
paramiko==1.15.2
pbr==1.8.0
pep8==1.6.2
pexpect==3.2
pingpp==2.0.1
piston-mini-client==0.7.5
ply==3.7
psycopg2==2.6.1
pyOpenSSL==0.15.1
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.19.5.1
pygobject==3.16.2
pyparsing==2.0.3
pyserial==2.7
pysqlite==2.7.0
python-apt===1.0.1-ubuntu0.1
python-dateutil==2.4.2
python-debian==0.1.27
python-memcached==1.53
pytz==2015.7
pyxdg==0.25
pyzmq==14.4.1
qiniu==7.0.5
raven==2.0.6
reportlab==2.5
requests==2.8.1
service-identity==14.0.0
simplegeneric==0.8.1
simplejson==3.8.1
six==1.10.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
tornado==4.2.1
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.11
vboxapi==1.0
virtualenv==13.1.2
wheel==0.26.0
wsgiref==0.1.2
xdiagnose==3.8.1
xhtml2pdf==0.0.6
zope.interface==4.1.2
